html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

img {
  width: 25%;
  height: auto;
}

h1 {
  color: blue;
}

p {
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  color: blue;
}
